<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width= , initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/style.css">
    <title>Document</title>
</head>
<body>
    <header class="hero">
        <nav class="nav container">
            <div class="nav__left">
                <a href="#" class="logo">COGIP</a>
                <ul class="nav__links">
                    <li><a href="#" class="nav__links__item nav__links__item--selected">Home</a></li>
                    <li><a href="#" class="nav__links__item">Invoices</a></li>
                    <li><a href="#" class="nav__links__item">Companies</a></li>
                    <li><a href="#" class="nav__links__item">Contacts</a></li>
                </ul>
            </div>
            <div class="nav__right">
                <ul class="nav__links">
                    <li><a href="#" class="nav__links__item btn">Sign Up</a></li>
                    <li><a href="#" class="nav__links__item">Login</a></li>
                </ul>
            </div>
        </nav>
        <section class="sloganBlock container">
            <p class="sloganBlock__message">MANAGE YOUR CUSTOMERS AND INVOICES EASLY</p>
            <img class="sloganBlock__img" src="./assets/img/manager.png" alt="manager">
        </section>
    </header>
</body>
</html>