//FONTS


$font-primary : 'Roboto',
sans-serif;
$font-secondary : 'Inter',
sans-serif;


//COLORS

$color-grey: #E0E0E0;
$color-primary: #9698D6;
$color-primaryLight: #F5F5FB;
$color-primaryDark: #4D4CAC;
$color-redLight: #FF808B;