.resumeTable {

    width: 100%;
    border-collapse: separate;
    border-spacing: 20px;

    &__head {


        tr {}


        th {

            text-align: left;
            font-family: $font-secondary;
            font-weight: 700;
            font-size: 15px;

        }
    }

    &__body {



        tr {}

        td {}
    }
}