/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;900&family=Roboto:wght@500;900&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 600;
}

.container {
  width: 100%;
  display: flex;
}

.lateralSection {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-right: 1px solid #E0E0E0;
}

.logout {
  margin-top: auto;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 0 52px;
}

.profil {
  display: flex;
  flex-direction: column;
  padding: 54px 88px;
  gap: 21px;
  border-bottom: 1px solid #E0E0E0;
}
.profil__avatar {
  width: 105px;
}
.profil__name {
  text-align: center;
  font-size: 25px;
  font-weight: 900;
  line-height: 29px;
}

.nav {
  margin-top: 56px;
}
.nav__linksList {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.nav__link {
  border-right: 4px solid transparent;
  text-decoration: none;
  color: black;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  display: inline-block;
  width: 100%;
  padding-left: 40px;
}
.nav__link--selected {
  border-right: 4px solid #9698D6;
  font-weight: 600;
}
.nav__link::before {
  content: "";
  display: inline-block;
  width: 22px;
  height: 22px;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 27px;
  transform: translateY(2px);
}
.nav__link--dashBoard::before {
  background-image: url("../img/Icon_dashboard.svg");
}
.nav__link--invoices::before {
  background-image: url("../img/Icon_Invoices.svg");
}
.nav__link--companies::before {
  background-image: url("../img/Icon_Companies.svg");
}
.nav__link--contact::before {
  background-image: url("../img/Icon_contact.svg");
}

.logout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 18px;
  border-top: 1px solid #E0E0E0;
}
.logout__avatar {
  width: 48px;
}
.logout__link {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #9698D6;
  text-decoration: none;
}

.header {
  display: flex;
  flex-direction: column;
  position: relative;
}
.header__img {
  position: absolute;
  top: 0;
  right: 54px;
  height: 100%;
}
.header__titles {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-bottom: 69px;
}
.header__titles h1 {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 30px;
}
.header__titles h2 {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 15px;
}
.header__welcomeMsg {
  background-color: #9698D6;
  border-radius: 10px;
  padding: 57px 54px;
}
.header__welcomeMsg__title {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 35px;
  color: white;
}
.header__welcomeMsg__pageDescription {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 15px;
  color: white;
  width: 285px;
}

/*# sourceMappingURL=dashBoard.css.map */
