.hero {
    background-color: $color-primary;
    padding-bottom: 112px;
    background-image: url('../img/bottomImg.svg');
    background-repeat: no-repeat;
    background-position: bottom 0 center;
}